<div class="container">
    <div class="row"> 
        <!-- <div class="col-sm-3"> -->
        <div class="col-sm-4">
            <div class="img__container">
                <span class="counter"> Vidas: {{vidas}}/{{vidasTotal}}</span>
                <img src="../assets/imagenes_juegos/mayorMenor/{{numero}}.png" alt="">
                
                <br><br>
            
                <div class="mensaje win" *ngIf="win">
                    <span>{{mensajePuntosWin}}</span>
                </div>
                
                <div class="mensaje lose" *ngIf="lose">
                    <span>{{mensajePuntosLose}}</span>
                </div>    
            </div>
        </div>
  
        <!-- <div class="col-sm-5">  -->
        <div class="col-sm-8"> 
            <span class="counter"> Puntos: {{puntos}}</span>
    
            <br><br>
            
            <h2 *ngIf="!smsFinal" >La siguiente carta es:</h2>
    
            <div class="mensaje lose" *ngIf="smsFinal">
            <span>{{mensajeFinal}}</span>
            </div>
    
            <br>
            <button type="submit" class="col btn" *ngIf="!smsFinal" (click)="Jugar('mayor')">Mayor</button>
            <button type="submit" class="col btn" *ngIf="!smsFinal" (click)="Jugar('menor')">Menor</button>
    
            <button type="submit" class="col btn" *ngIf="smsFinal" (click)="Repetir()">Vovler a Jugar!</button>
            <button type="submit" class="col btn" *ngIf="smsFinal" [routerLink]="['/home']" routerLinkActive="router-link-active" >Salir</button>
        </div>
    
        <!-- <div class="col-sm-4">
            <app-chat></app-chat>
        </div> -->
      
    </div>
  </div>