<div class="container">
    <div class="row">
  
      <div class="col-sm-5" style="padding-right: 20px;">
        <br>
  
        <div class="container">
          <h4>Intentos: {{ intentos }}/{{ oportunidades }}</h4>
        </div>
  
        <br><br><br> 
        <h2>
          El color del siguiente código:  <strong> <b>{{ ganador }}</b> </strong> es ...
        </h2> 
        
        <br><br>
      </div>
  
      <div class="col-sm-7">
  
        <div *ngIf="!smsFinal">
          <h2>Opciones:</h2>

          <div class="mensajeNext lose" *ngIf="smsNext && !smsFinal">          
            <span>{{mensajeFinal}}</span>
          </div>
        
          <app-colores *ngFor="let color of colores"
                [colorHexa]="color"
                [habilitado]="isJugando"
                (onColorClick)="colorClick($event)"
          ></app-colores>    
  
        </div>
  
        <br><br>
        
        <div class="mensaje lose" *ngIf="!smsNext && smsFinal">          
          <span>{{mensajeFinal}}</span>
        </div>
  
        <br>
        
        <button type="submit" class="col btn" *ngIf="smsFinal" (click)="empezarJuego()">Volver a Jugar!</button>
        <button type="submit" class="col btn" *ngIf="smsFinal" [routerLink]="['/home']" routerLinkActive="router-link-active" >Salir</button>
  
        <br><br>
      </div> 
    </div>
  </div> 
  